# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- list popular data science languages
- list popular data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. pandas
3. matplotlib
4. Scikit-learn
5. Tenserflow

| Data Science Tools | 
|--------------------|
|RStudio|
|VScode| 
|Juypter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 2+3
2. 2 * 8 * 9
3. 3 / 8 * 9

This a simple arithmetic expression to mutiply 3 and 4 then add 5 to it

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
x=200/60
print(x,"hrs")

3.3333333333333335 hrs

## Author
Ayush Surve